export(DataSetReader)
export(sigmoid)
export(sigmoid.derivative)
export(relu)
export(relu.derivative)
export(leakyrelu)
export(leakyrelu.derivative)
export(tanh)
export(tanh.derivative)
export(arctan)
export(arctan.derivative)
export(swish)
export(swish.derivative)
export(softplus)
export(softplus.derivative)
export(Train)
export(Test)
export(ReformatByMax)
export(IdenticalColumnCheck)
export(SaveNetwork)
export(RecallNetwork)
export(NetworkGenerator)
export(Regress)
export(Predictor)
import(ggplot2)
importFrom("stats", "rnorm")
importFrom("utils", "read.csv")